<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/data" method="POST">
        <label for="username">username</label> 
        <input type="text" name="username"> <br> <br>
        <label for="password">password</label> 
        <input type="password" name="password"> <br> <br>
        <label for="DOB">DOB</label> 
        <input type="date" name="dob"> <br> <br>
        <label for="gender">Gender</label>
        <input type="radio" name="gender" id="male" value="male"> Male
        <input type="radio" name="gender" id="female" value="female"> Female <br> <br>
        <label for="remark">Remarks</label>
        <input type="text"name="remark" id="remark"> <br> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>